
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*{
  margin: 0 auto;
  padding: 0;
  align-items: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
.container{
  max-width: 1200px;
  align-items: center;
  text-align: center;
}
.header-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-box-list{
  display: flex;
  align-items: center;
  gap: 33px;
}
.header-icns{
  display: flex;
  align-items: center;
  gap: 9px;
}